<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta http-equiv="X-UA-Compatible" content="ie=edge">
  </head>
<body style="text-align: center; align-content: center;background: linear-gradient(to right, #00aaff, rgb(63, 218, 75));padding: 0;margin : 0px;">
<div style="text-align: center;padding: 5px;">
  <h1>
    Welcome to {{title}}
  </h1>
</div>
<div>
<app-footballclub></app-footballclub>
</div>
<div>
  
  <app-match></app-match>
</div>
</body>
</html>